<h2>Datos personales</h2>
<strong>Nombre: </strong>
<p><%= @user.name %></p>

<strong>Apellidos: </strong>
<p><%= @user.surname %></p>

<strong>Username: </strong>
<p><%= @user.username %></p>

<strong>Telefono: </strong>
<p><%= @user.phone_number %></p>

<strong>Direccion: </strong>
<p><%= @user.address %></p>

<div id="edit-btn">
    <%= link_to 'Editar', edit_user_path(current_user.id), remote: true %>
</div>