<strong>Nombre: </strong>
<p><%= @user.name %></p>

<strong>Apellidos: </strong>
<p><%= @user.surname %></p>

<strong>Username: </strong>
<p><%= @user.username %></p>

<strong>Telefono: </strong>
<p><%= @user.phone_number %></p>

<strong>Direccion: </strong>
<p><%= @user.address %></p>