<div class="container pb-5">
    <div class="container new-cause-form">
    <h1 class="text-center mb-4">Editar causa</h1>
<%= form_with(model: cause, remote: true) do |f| %>
    <% if cause.errors.any? %>
        <div id = 'error_explanation'>
            <h2>La publicacion no se pudo crear por las siguientes razones:</h2>
            <ul>
                <% cause.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group">
        <%= f.label :project_id, "Emprendimiento: " %><br>
        <%= @project%>
    </div>
    
    <div class="form-group">
        <%= f.label :title, "Titulo de la causa: "%><br>
        <%= f.text_field :title %>
    </div>

    <div class="form-group">
        <%= f.label :story, "Descripcion: " %><br>
        <%= f.text_area :story, size: '50x4' %>
    </div>

    <div class="form-group">
        <%= f.label :cause_img, "Agrega una url para tu foto principal " %><br>
        <%= f.text_field :cause_img, placeholder:"http://" %>
    </div>    

    <div class="form-group">
        <%= f.label :start_date, "Fecha de inicio: " %><br>
        <%= f.date_field :start_date %>
    </div>  

    <div class="form-group">
        <%= f.label :end_date, "Fecha de termino: " %><br>
        <%= f.date_field :end_date %>
    </div>

    <div class="form-group">
        <%= f.label :goal, "Meta: " %><br>
        <%= f.number_field :goal %>
    </div>

    <div class="form-group">
        <%= f.label :reward, "Recompensa: " %><br>
        <%= f.text_field :reward %>
    </div>

    

    <div class = 'actions'>
        <%= f.submit "Editar" %>
    </div>
<% end %>
</div>
</div>