
<header id="publication">

</header>
<div id="cause-images" class="container">
    <div class="row">
        <div class="col-9 big-image">
            <img id="main" src="https://www.somosiberoamerica.org/wp-content/uploads/2021/09/NOTA2-Empresas-y-medioambiente-980x653.png" class="card-img-bottom" alt="...">
            <div class="counter1"><%=@cause.donation_points_amount%> pts raised </div>
            <div class="goal1"><%=@cause.goal%> pts goal </div>
        </div>  
        <div class="col-3 small-images d-flex flex-column align-items-center">
            <div>
                <img id="two" src="https://agenciaajn.com/new/wp-content/uploads/2018/01/panader%C3%ADa.jpg" class="card-img-bottom" alt="...">
            </div>
            <div>
                <img id="three" src="https://agenciaajn.com/new/wp-content/uploads/2018/01/panader%C3%ADa.jpg" class="card-img-bottom" alt="...">
            </div>
            <div>
                <img id="four" src="https://www.somosiberoamerica.org/wp-content/uploads/2021/09/NOTA2-Empresas-y-medioambiente-980x653.png" class="card-img-bottom" alt="...">
            </div>
        </div>
    </div>
</div>
<div id="story" class="container mt-3">
    <div class="row">
        <div id="description" class="col-9">
            <div class="bar1">
                <div class="progress-outer">
                    <div class="progress dupbar">
                        <div class="progress-bar dupbar progress-bar-info progress-bar-striped active" style="width:<%=@cause.percentage_of_goal_achieved%>%">
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="card-title font-weight-bold"><%= @cause.title %></h2>
            <h4 class="card-title font-weight-bold"><%= @cause.project.name %></h4>
            <p class="card-text"><%= @cause.story %></p>
        </div>
        <div id="donation" class="col-3">
            <div class="donate">
                <h3 class="text-light font-weight-bold mb-1">¡Apaña esta causa!</h3>
                <p class="text-light">Elige un tipo <span class="font-weight-bold">ApañaPunto</span> y colabora con esta causa</p>
                <%= render 'donations/form', cause: @cause, donation: @donation %>
                
            </div>
        </div>
    </div>
</div>
                <%= link_to 'Donar', new_cause_donation_path(@cause.id), class:'btn btn-success'%>
<div id="comments" class="container mt-3">
    <h4>Deja tu comentario! &#128151; &#128071;</h4>
    <div class="row ">
        <%= render 'comments/form', cause: @cause, comment: @comment %>
        <% @cause.comments.each do |comment| %>
        <div class="row">
            <div class="col-2">
                <%= comment.user.username %>
            </div>
            <div class="col-10">
                <%= comment.comment %>
            </div>
        </div>
    <% end %>
    </div>
</div>




                    <strong>Desde:</strong><%= @cause.start_date %> |
                    <strong>Hasta: </strong><%= @cause.end_date %>
            
                <div class="col">
                    <strong>Recompensas: </strong><%= @cause.reward %>
                </div>
            </div>
            <p class="card-text"><small class="text-muted">Última actualización: <%= @cause.updated_at %></small></p>
            
        </div>
    </div>

    
<script src="app/assets/javascripts/publication.js"></script>