<div id="cause-images" class="container ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner big-image">
            <div class="carousel-item active ">         
                <img id="img-1"src="<%= @cause.cause_img%>" alt="" class="d-block w-100">
            </div>
        </div>
        <div class="counter1"><%=@cause.donation_points_amount%> pts raised </div>
        <div class="goal1"><%=@cause.goal%> pts goal </div>
    </div>
</div>
<div class="bar1 container">
    <div class="progress-outer">
        <div class="progress dupbar">
            <div class="progress-bar dupbar progress-bar-info progress-bar-striped active" style="width:<%=@cause.percentage_of_goal_achieved%>%">
            </div>
        </div>
    </div>
</div>
<div id="story" class="container mt-3">
    <div class="row">
        <div id="description" class="col-9">
            <div class="days-left1">¡Quedan <%=(@cause.end_date - @cause.start_date).to_i %> días para apañar esta causa!</div>
            <h2 class="card-title font-weight-bold"><%= @cause.title %></h2>
            <h4 class="card-title font-weight-bold"><%= @cause.project.name %></h4>
            <p class="card-text"><small class="text-muted">Última actualización: <%= @cause.updated_at %></small></p>
            <p class="card-text"><%= @cause.story %></p>
            <strong>&#127873; Recompensas: </strong><%= @cause.reward %><br>
            <strong>&#127758; Sitio web: </strong>
        </div>
        <div id="donation" class="col-3">
            <div class="donate">
                <h3 class="text-light font-weight-bold mb-3">¡Apaña esta causa!</h3>
                <p class="text-light">Elige un tipo <span class="font-weight-bold">ApañaPunto</span> y colabora con esta causa</p>
                <%= render 'donations/form', cause: @cause, donation: @donation %>
            </div>
        </div>
    </div>
</div>
<div id="comments" class="container mt-3">
    <h4>Deja tu comentario! &#128151; &#128071;</h4>
    <div class="row">
        <%= render 'comments/form', cause: @cause, comment: @comment %> 
    </div>
    <div class="row px-3 mt-5 py-3">
        <% @cause.comments.order(created_at: :desc).each do |comment| %>
            <div class= "container all-comments pb-4 mb-3">
                <div class="col-2 mt-3 pl-0 font-weight-bold d-flex align-items-center">
                    &#128100; <%= comment.user.username %>
                </div>
                <div class="col-10 mt-3 user-comment">
                    <%= comment.comment %>
                </div>
            </div>
        <% end %>
    </div>
</div>