
<header id="publication">

</header>
<div id="cause-images" class="container">
    <div class="row">
        <div class="col-9 big-image">
            <img id="one" src="https://www.somosiberoamerica.org/wp-content/uploads/2021/09/NOTA2-Empresas-y-medioambiente-980x653.png" class="card-img-bottom" alt="...">
            <div class="counter1"><%=@cause.donation_points_amount%> pts raised </div>
            <div class="goal1"><%=@cause.goal%> pts goal </div>
        </div>  
        <div class="col-3 small-images d-flex flex-column align-items-center">
            <div>
                <img id="two" src="https://agenciaajn.com/new/wp-content/uploads/2018/01/panader%C3%ADa.jpg" class="card-img-bottom" alt="...">
            </div>
            <div>
                <img id="three" src="https://agenciaajn.com/new/wp-content/uploads/2018/01/panader%C3%ADa.jpg" class="card-img-bottom" alt="...">
            </div>
            <div>
                <img id="four" src="https://www.somosiberoamerica.org/wp-content/uploads/2021/09/NOTA2-Empresas-y-medioambiente-980x653.png" class="card-img-bottom" alt="...">
            </div>
        </div>
    </div>
</div>
<div id="story" class="container mt-3">
    <div class="row">
        <div id="description" class="col-9">
            <div class="bar1">
                <div class="progress-outer">
                    <div class="progress dupbar">
                        <div class="progress-bar dupbar progress-bar-info progress-bar-striped active" style="width:<%=@cause.percentage_of_goal_achieved%>%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="days-left1">¡Quedan <%=(Date.today - @cause.end_date).to_i %> días para apañar esta causa!</div>
            <h2 class="card-title font-weight-bold"><%= @cause.title %></h2>
            <h4 class="card-title font-weight-bold"><%= @cause.project.name %></h4>
            <p class="card-text"><small class="text-muted">Última actualización: <%= @cause.updated_at %></small></p>
            <p class="card-text"><%= @cause.story %></p>
            <strong>&#127873; Recompensas: </strong><%= @cause.reward %><br>
            <strong>&#127758; Sitio web: </strong>
        </div>
        <div id="donation" class="col-3">
            <div class="donate">
                <h3 class="text-light font-weight-bold mb-1">¡Apaña esta causa!</h3>
                <p class="text-light">Elige un tipo <span class="font-weight-bold">ApañaPunto</span> y colabora con esta causa</p>
                <%= render 'donations/form', cause: @cause, donation: @donation %>

            </div>
        </div>
    </div>
</div>
<div id="comments" class="container mt-3">
    <h4>Deja tu comentario! &#128151; &#128071;</h4>
    <div class="row">
        <%= render 'comments/form', cause: @cause, comment: @comment %> 
    </div>
    <div class="row pl-3">
        <% @cause.comments.order(created_at: :desc).each do |comment| %>
            <div class="col-2 mt-3 font-weight-bold d-flex align-items-center">
                &#128100; <%= comment.user.username %>
            </div>
            <div class="col-10 mt-3 user-comment">
                <%= comment.comment %>
            </div>
        <% end %>
    </div>
</div>

            
                <div class="col">
                    
                </div>
            </div>
            
            
        </div>
    </div>

    
<script src="app/assets/javascripts/publication.js"></script>