<h1>Cause#show</h1>
<div id="donation">
    <strong>Causa: </strong>
    <p><%= @donation.cause.title %></p>

    <strong>User: </strong>
    <p><%= @donation.user.email %></p>

    <strong>Cantidad: </strong>
    <p><%= @donation.amount %></p>

    <strong>Status: </strong>
    <p><%= @donation.status %></p>

    <strong>Code: </strong>
    <p><%= @donation.code %></p>
</div>

<%= raw @svg %>
<%= link_to "Paid!", check_donation_path(@donation.id) %>
