<h1>Cause#show</h1>
<div id="donation">
    <strong>Causa: </strong>
    <p><%= @donation.cause.title %></p>

    <strong>User: </strong>
    <p><%= @donation.user.email %></p>

    <strong>Cantidad: </strong>
    <p><%= @donation.amount %></p>

    <strong>Status: </strong>
    <p><%= @donation.status %></p>

    <strong>Code: </strong>
    <p><%= @donation.code %></p>
</div>
<p>//sin funcionalidad del webhook en local</p>
<%= raw @svg %>
<%= link_to "back", publication_path(@donation.cause)  %>
