<%= form_with(model: project, remote: true) do |f| %>
    <% if project.errors.any? %>
        <div id = 'error_explanation'>
            <h2>Esta categoría no se pudo crear por las siguientes razones:</h2>
            <ul>
                <% project.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="form-group">
        <%= f.label :name, "Emprendimiento: " %>
        <%= f.text_field :name %>
    </div>

    <div class="form-group">
        <%= f.label :description, "Descripcion: " %>
        <%= f.text_field :description %>
    </div>   

    <div class="form-group">
        <%= f.label :start_date, "Funcionando desde: " %>
        <%= f.date_field :start_date %>
    </div>  

    <div class="form-group">
        <%= f.label :industry, "Rubro: " %>
        <%= f.text_field :industry %>
    </div>

    <div class="form-group">
        <%= f.label :website, "Sitio web: " %>
        <%= f.text_field :website %>
    </div>

    <div class="form-group">
        <%= f.label :address, "Direccion: " %>
        <%= f.text_field :address %>
    </div>

    <div class = 'actions'>
        <%= f.submit %>
    </div>
<% end %>